@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

h1 {
    text-align: center;
    
    font-size: 42px;
    font-family: 'Dancing Script', cursive;
}
body { 
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0xRS5ufKdM3-H_AqJTxIeJRqVbgR9mSnxpw&usqp=CAU)
}

.img1 {
    float: left; 
    width: 50%;
    margin-left: 250px; 
    
    
   }
.text1 {
   margin-left: 900px;
   box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    line-height: 1.5;
    font-size: 40px;
    margin-right: 100px;
    font-family: 'Indie Flower', cursive;
    background-color: rgba(240, 190, 251, 0.3);    
    border-radius: 30px; 
    
}
.img2 {
        float:right; 
        margin-right: 250px;  
        
       }
.text2 {
        margin-left: 110px; 
        box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
        width: 500px;
        padding: 5px;
        font-size: 27px;
        text-align: center;
        line-height: 1.5;
        font-family: 'Piedra', cursive; 
        background-color: rgba(240, 190, 251, 0.3);    
        border-radius: 30px;    
}
img{
    width: 45%;
}
section{
    height: 400px;   
}
p{
    
    
}